<%- include ("../partials/header") %>

<div class="container show">
  <div class="col-6">

	    <div class="card-img-top d-flex align-items-center bg-light">
		
	          <img class="card-img" src="<%= picture.image %>">
	
				<div class="col-md-3">
					
                  <p><%= picture.name %></p>
	
	              <p><%= picture.description%></p>
				</div>
			</div>
	    </div>

		
  </div>



<%- include ("../partials/footer") %>